@import "../../node_modules/materialize-css/sass/materialize.scss";


.slider, .slides, .slider .slides li{
  border-radius: 0 0 20px 20px;
}

.slider{
  box-shadow: -1px 4px 2px #00000052;
}


main{
    margin-bottom: 0;
}

.faq{
    border-radius: 20px 20px 0 0;
    color: $font-color2;
    padding-bottom: 100px;
    background-color: $tertiary-color-g;
    margin-top: 200px;
    position: relative;

    .faq-tit{
      color:$font-color2;
      font-family: 'Plus Jakarta Sans';
      font-weight: 600;
    }

    .collapsible{
        border-color: transparent !important;
        border-radius: 15px 15px 5px 15px;
      
        *{
          border-radius: 15px 15px 5px 15px;
        }
      
        .active{
          background-color: white;
        }
      
        .collapsible-header{
          background-color: $secondary-color-b;
          color: $font-color3;
          border: 0;
          font-weight: 500;
        }
      
        .collapsible-body{
          border-radius: 0px 0px 5px 15px;
          background-color: $primary-color-w;
          color: $font-color2;
          line-height: 24px;
          font-weight: 300;
        }
      
      }
      

  .newsletter{
    position: absolute;
    background-color: white;
    height: 250px;
    width: inherit;
    top: -120px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 2px 9px 1px #00000069;;
    *{   
      border-radius: 20px;
    }

    .tit-nl{
      color: $font-color1;
      background-color: $secondary-color-b;
      position: absolute;
      height: 45%;
      width: 100%;
      top: 0;
      padding: 3% 5%;
      text-decoration:underline;
      box-shadow: 0px 4px 4px #0000004f;
    }

    .input-nl{
      width: 100%;
      position: absolute;
      top: 50%;
      padding: 20px 20px;
      input{
        border: 1px solid $secondary-color;
        border-radius: 10px;
        height: 50px;
        text-align: center;
        background-color: $tertiary-color-g;
      }
    }

    .btt-nl{
      width: 100%;
      position: absolute;
      bottom: -17px;
      button{
        background-color: $secondary-color-b;
      }
    }
  }
}

.filler{
    background-color: $tertiary-color-g!important;
    position: absolute;
    z-index: -1;
    height:20px;
    width: 100vw;
    top: 0;
}




.des, .dev{
  .col{
    border-radius: 20px;
    height: 38vh;
    margin-bottom: 20px;
    .card{
      border-radius: 20px;
      *{
        border-radius: 20px;
      }
      .card-reveal{
        height: 80% !important;
      }

      .card-content{
        padding: 10px!important;
        text-align: center;
        position: relative;
        background-color: $tertiary-color-g;
        border-radius: 0 0 20px 20px !important;
        .card-title{
          font-size: initial;
          font-weight: 500;
        }
      }        

      .card-image{
        height: 30vh;
        border-radius: 0 !important;
        img{
          border-radius: 20px 20px 0 0;
          height: 30vh;
          object-fit: cover;
        }
      }
    }
  }
}


@media only screen and (min-width: 1020px){//pc
  .faq{
    .newsletter{
      width: 40%;
      left: 30%;
    }
  }

}