@import "../../node_modules/materialize-css/sass/materialize.scss";


.slider, .slides, .slider .slides li{
    border-radius: 0 0 20px 20px;
  }
  
  .slider{
    box-shadow: -1px 4px 2px #00000052;
  }


  .slides  {
    .caption{
      h4{
        color: $primary-color !important;
        text-shadow: 2px 2px 0px black;
        font-size: 48px;
      }
    }
  }
