@import "../../node_modules/materialize-css/sass/materialize.scss";


.slider, .slides, .slider .slides li{
    border-radius: 0 0 20px 20px;
  }
  
  .slider{
    box-shadow: -1px 4px 2px #00000052;
  }


  .slides  {
    .caption{
      h4{
        color: $primary-color !important;
        text-shadow: 2px 2px 0px black;
        font-size: 48px;
      }
    }
  }


  .ospiti{
    .col{
      border-radius: 20px;
      .card{
        border-radius: 20px;
        *{
          border-radius: 20px;
        }
      }
    }
  }

  .banner-evento{
    height: 40vh;
    border-radius: 20px;
    background-color: $footer-color;
    text-align: center;
    box-shadow: 0px 2px 7px #0000007a;
    .main-sect{
      padding-top: 50px;
      height: 75%;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0px 1px 3px #00000057;
    }
  }

  @media only screen and (max-width: 500px){//phone
    .banner-evento{
      .main-sect{
        padding-top: 8%;
      }
    }
  }