@import "../../node_modules/materialize-css/sass/materialize.scss";


//OVERRIDE DEI COLORI DI BODY HEADER E FOOTER IN TUTTE E PAGINE 


body{
    $tertiary-color: $tertiary-color-light;

    color: $font-color2-light-theme;
    background-color: $secondary-color-light;//riduce un po la luminosita

    nav, .page-footer{
        color: $font-color2-light-theme;
        background-color: $primary-color-light;
        *{
            color: $font-color2-light-theme;
            background-color: $primary-color-light;          
        }
    }
    


}


// dark mode !!! lasciare in fondo!!!
.dark-mode{//body

    color: $font-color1-dark-theme;
    background-color: $secondary-color-dark;

    nav, .page-footer{
        color: $font-color1-dark-theme;
        background-color: $primary-color-dark;
        *{
            color: $font-color1-dark-theme;
            background-color: $primary-color-dark;
        }
    }


  }

