@import "../../node_modules/materialize-css/sass/materialize.scss";

#main-nav{
    padding-right: 10px;
}

#DLIcon{
    cursor: pointer;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    margin: 1vh 0;
    overflow-x: hidden;
}


a{
    color: rgb(14, 56, 92);
}


