@import "../../node_modules/materialize-css/sass/materialize.scss";


html{
    scroll-behavior: smooth;
}

// footer
#logosocial{
    margin: 15px 0;
}


#main-nav{
    padding-right: 10px;
}

#DLIcon{
    cursor: pointer;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: repeating-linear-gradient(285deg, #ffffff7d, #5be9124f 280px);
    transition: background-color 1s ease;
  }

main {
    flex: 1 0 auto;
    margin-top: 0;
    margin-bottom: 5px;
    overflow-x: hidden;
}


a{
    color: rgb(14, 56, 92);
}


h1, h2, h3, h4, h5, h6{
    color:$font-color2-light-theme;
}
