@import "../../node_modules/materialize-css/sass/materialize.scss";



main{
    p, h5, h6{
        line-height: 32px !important;
    }
}


 .slider {
    h3{
        font-weight: bold !important;
        font-size:xxx-large !important;
        text-shadow: 1px 1px 0 white;
    }
    h5{
        font-weight: bold !important;
        a{
            text-shadow: 1px 1px 0 black;
            font-weight: bold !important;
            text-decoration: underline !important;
            font-size:xx-large !important;
        }
    }
}




html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif !important;
}

// footer
footer{
    position: relative;
    border-radius: 20px;
    .back-to-top{
        position: absolute;
        top: -37px;
        right: 23px;
        background-color: transparent!important;
        *{
            background-color: $tertiary-color-light !important;
        }
    }
}


#main-nav{
    padding-right: 10px;
}

#DLIcon{
    cursor: pointer;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    margin-top: 0;
    margin-bottom: 5px;
    overflow-x: hidden;
}

hr{
    border-color: black;
  }


.navbar-fixed{
    li{
        margin-right: 2vw;
    }
}


@media only screen and (min-width : $medium) {//tablet e pc
    nav{
        .sidenav-trigger{
            display: none!important;
        }

        h6{
            display: none !important;
        }
    }
}