@import "../../node_modules/materialize-css/sass/materialize.scss";



.slider, .slides, .slider .slides li{
  border-radius: 0 0 20px 20px;
}

.slider{
  box-shadow: -1px 4px 2px #00000052;
}

.collapsibles , .immagine-top, .immagine-top img{
  border-radius: 20px 20px 0 0;
}

.collapsibles{
  position: relative;
  .immagine-top{
    position: absolute;
  }
  .contents{
    width: 100vw;
    position: relative;
    top: 28vh;
    border-radius: 20px 20px 20px 20px;
    *{
      border-radius: 20px 20px 20px 20px;
    }

  }

  .collapsible{
    background-color: white;
  }
}



.cards{
  margin-top: 30vh;

  .card{
    background-color: lighten($primary-color-light, 22);
    img{
      border: 1px solid $font-color1-light-theme;
    }
  }
}

.bttcards {
  background-color: #de6c3f;
  width: 150px;
  border-radius: 36px;
  top: 41px;
  right: 39px;
  text-align: center;
  height: 60px;
  padding-top: 10px;
}


.row{
  border-radius: 40px 0 40px 0;
  .col{
    border-radius: 40px 0 40px 0;
    .card{
      border-radius: 40px 0 40px 0;
      .card-image{
        border-radius: 40px 0 40px 0;
        *{
          border-radius: 40px 0 40px 0;
        }
      .card-content{
        border-radius: 40px 0 40px 0;
      }
      }
    }
  }
}






.collapsible-header{
  position: relative;
  h4{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    width: 60% ;
    font-size: 2.5em;
    font-weight: 600;
  }
}





@media only screen and (min-width: 700px) {//tablet 
  .cards{
    width: 200%;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 30vh;
  }
}

@media only screen and (min-width: 1920px) {// pc
  .collapsibles{
    .contents{
      top: 96vh;
    }
  }

  .collapsible{
    padding: 20px 100px !important;
  }

  .cards{
    margin-top: 100vh;
  }

  .slider{
    height: 500px !important;
    .slides{
      height: 500px !important;
    }
  }

  .immagine-top{
    img{
      height: 100vh;
    }
  }


  #r1{
    width: 100vw;
  }


  .cards-pc{
    width: 27% !important;
    margin: 0 20px ;
  }
}


// @media only screen and (min-width: 800px) {//fix ipad air
//   .cards{
//     margin-left: 10vw;
//   }
// }


// @media only screen and (min-width: 1920px) {//FHD + ultrawide (2k, 4k)
//  .collapsibles{
//    .contents{
//      top:1200px
//    }
//  }

//  .cards{
//     margin-left: 16vw;
//     margin-top: 1200px;
//     .col{
//       width: 100%!important;
//     }
//  }
// }

// @media only screen and (max-width: $small-screen) {//phone

// }




