@import "../../node_modules/materialize-css/sass/materialize.scss";


// footer
#logosocial{
    margin: 15px 0;
}


#myimg{
  width: 100vw;
  height: 35vh;
}

#fstimg-titolo{
  position: absolute;
  margin-left: 4vw;
}


@media only screen and (min-width: $U2k-screen) {
    .cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: -10vw;
        right: 10vw;
        position: relative;
        width: 70vw;
    }
  }

@media only screen and (max-width: $small-screen) {
    .cards {
        flex-direction: column;
    }
  }



.cards{
    display: flex;
   .row{
        .col{
            width: fit-content;
        }
    }
}

#slider-container{
    width: 100vw;
    border-top: 40px solid;
  }

#slider{
    width: 80%;
    margin: auto auto;
  }