@import "../../node_modules/materialize-css/sass/materialize.scss";

.container > h1{
    margin: 0;
}

#titolo-card{
    font-size: 2em;
}

#prima-card{
    background-color: white;
}


.obbiettivo{
    width: 100vw; 
    background-color: $primary-color-light;
    
    box-shadow: 1px 1px 3px 0px;

    .card-content{
        background-color: $primary-color-light;
    }
}




.dark-mode{
    .obbiettivo{
        background-color: $primary-color-dark;
    
        .card-content{
            background-color: $primary-color-dark;
        }
    }

    #prima-card{
        background-color: $tertiary-color-dark;
    }
}