@import "../../node_modules/materialize-css/sass/materialize.scss";

.container > h1{
    margin: 0;
}

#titolo-card{
    font-size: 2em;
}

#prima-card{
    background-color:lighten($color: $secondary-color-light, $amount: 10);
}


.obbiettivo{
    width: 100vw; 
    background-color: $tertiary-color-light;
    
    box-shadow: 1px 1px 3px 0px;

    .card-content{
        background-color: $tertiary-color-light;
    }

    .card-image{
        background-color: $tertiary-color-light;
        img{
            height: 80%!important;
        }
    }

}


.collection{
    .collection-header, .collection-item{
      background-color: lighten($secondary-color, 10)!important;
    }
  }




.dark-mode{
    .obbiettivo{
        background-color: $primary-color-dark;
    
        .card-content{
            background-color: $primary-color-dark;
        }
        .card-image{
            background-color: $primary-color-dark!important;
        }
    }

    #prima-card{
        background-color: $tertiary-color-dark;
    }

    .collection{
        box-shadow: 0px 2px 2px 0px #625f5fbf;
        .collection-header, .collection-item{
          background-color: $tertiary-color-dark !important;
        }
      }
}