@import "../../node_modules/materialize-css/sass/materialize.scss";


.slider, .slides, .slider .slides li{
    border-radius: 0 0 20px 20px;
  }
  
  .slider{
    box-shadow: -1px 4px 2px #00000052;
  }

  
    

.collapsible{
  border-color: transparent !important;
  border-radius: 20px 5px 20px 5px;

  *{
    border-radius: 20px 5px 20px 5px;
  }

  .active{
    background-color: white;
  }

  .collapsible-header{
    background-color: $secondary-color;
    color: white;
  }

  .collapsible-body{
    border-radius: 0px 0px 20px 0px;
    background-color: white;
  }

}




.cards{
  margin-top: 20px!important;
  .row{
    .col{
      margin-bottom: 20px;
    }
  }
}

.progetti{
  .row{
    .col{
      margin-bottom: 20px;
      border-radius: 20px 5px 20px 5px;
      .card{
        border-radius: 20px 5px 20px 5px;
        position: relative;
        .card-content{
          border-radius: 20px 5px 20px 5px;
          height: 30px;
          padding: 35px 0;
          text-align: center;
          position: absolute;
          width: 100%;
          bottom: 0;
          z-index: 10;
          background-color: $secondary-color;
          box-shadow: -2px -1px 4px #0000007d;
          .card-title{
            text-decoration: underline;
            color: $primary-color !important;
            line-height: 6px;
            height: 20px;
          }
        }
        .card-reveal{
          border-radius: 20px 5px 20px 5px;
          z-index: 11;
        }
        .card-image{
          border-radius: 20px 5px 20px 5px;
          img{
            height: 300px;
          }
        }
        
        .card-btt{
          position: absolute;
          text-transform: uppercase;
          background-color: $tertiary-color;
          border-radius: 20px;
          padding: 10px;
          bottom: -19px;
          z-index: 12;
          a{
            color: white !important;
            font-size: smaller;
          }
        }
      }
    }
  }
}