@import "../../node_modules/materialize-css/sass/materialize.scss";


.slider, .slides, .slider .slides li{
    border-radius: 0 0 20px 20px;
  }
  
  .slider{
    box-shadow: -1px 4px 2px #00000052;
  }

  
    

.collapsible{
  border-color: transparent !important;
  border-radius: 20px 5px 20px 5px;

  *{
    border-radius: 20px 5px 20px 5px;
  }

  .active{
    background-color: white;
  }

  .collapsible-header{
    background-color: $secondary-color;
    color: white;
  }

  .collapsible-body{
    border-radius: 0px 0px 20px 0px;
    background-color: white;
  }

}




.cards{
  margin-top: 20px!important;
}


  @media only screen and (min-width: 1920px) {//desktop

    .cards-pc{
        width: 30% !important;
        margin-left: 45px !important;
    }

  }

  @media only screen and (max-width: 600px){//phone
    .cards-pc{
      width: 50% !important;
  }

  }