@import "../../node_modules/materialize-css/sass/materialize.scss";

.slider, .slides, .slider .slides li{
    border-radius: 0 0 20px 20px;
  }
  
  .slider{
    box-shadow: -1px 4px 2px #00000052;

  }



#banner-proj{
    background-position-y: -80px;
}


@media only screen and (min-width: 700px) {//tab e pc
    #banner-proj{
        background-position-y: -200px;
    }
}

@media only screen and (min-width: 1020px) {// pc
    #banner-proj{
        background-position-y: 33%;
    }
}