@import "../node_modules/materialize-css/sass/materialize.scss";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    margin: 1vh 0;
    overflow-x: hidden;
}

#logosocial{
    margin: 15px 0;
}

a{
    color: rgb(14, 56, 92);
}


#main-nav{
    padding-right: 10px;
}

#myimg{
  width: 100vw;
  height: 35vh;
}

#fstimg-titolo{
  position: absolute;
  margin-left: 4vw;
}


@media only screen and (min-width: $U2k-screen) {
    .cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: -10vw;
        right: 10vw;
        position: relative;
        width: 70vw;
    }
  }

@media only screen and (max-width: $small-screen) {
    .cards {
        flex-direction: column;
    }
  }



.cards{
    display: flex;
   .row{
        .col{
            width: fit-content;
        }
    }
}
