body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin: 1vh 0;
  }

#logosocial{
    margin: 15px 0;
}

a{
    color: rgb(14, 56, 92);
}

#myimg{
  width: 99vw;
}

#fstimg-titolo{
  position: absolute;
}